# ------------------------------------------------------------------------------
# Environments
# ------------------------------------------------------------------------------

snippet tm "Inline math" wA
\$$1\$ $0
endsnippet

snippet dm "Display math" wA
\[
  $1
.\] $0
endsnippet

# ------------------------------------------------------------------------------
# Common math functions
# ------------------------------------------------------------------------------

snippet lni "Limit for n to infinity" wA
\lim_{n\to\infty}
endsnippet

# ------------------------------------------------------------------------------
# Numerical sets
# ------------------------------------------------------------------------------

snippet NN "Natural numbers" wA
\mathbb{N}
endsnippet

snippet ZZ "Integer numbers" wA
\mathbb{Z}
endsnippet

snippet QQ "Rational numbers" wA
\mathbb{Q}
endsnippet

snippet RR "Real numbers" wA
\mathbb{R}
endsnippet

snippet CC "Complex numbers" wA
\mathbb{C}
endsnippet

snippet FF "Numerical field" wA
\mathbb{F}
endsnippet

